@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --color-heading:rgb(219, 219, 219);;
  --color-p: rgb(219, 219, 219);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
  --margin-bottom: 2rem;
  --color-gold: #FFC107;
  --color-grey: #20202a; 
  --color-dark-grey: #111115; 
  --color-tp-grey: #18181bd3; 
  --color-tp-dark-grey: #111115e6;
  --color-body-bg: #272730; 
  --color-aside-bg: #202029;
  --color-aside-img-bg: #2a2a31;
  --color-scroolbar: rgb(136, 136, 136);
  --color-card-bg: #6a68687e;
}

*, 
*::after, 
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

/* TYPOGRAPHY */

h1, h2, h3, h4 {
  color: var(--color-heading);
  transition: all .5s;
}

h1, h2, h3 {
  display: inline-block;
}
 
h1:hover, h2:hover {
  color: var(--color-gold);
}

h1 {
  font-size: 1.6rem; 
  margin-bottom: 1.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.4rem;
}

h4 a {
  text-decoration: none;
  color: rgb(143, 143, 143);
  transition: all .5s;
}

h4 a:hover {
  text-decoration: none;
  color: var(--color-gold);
}

.fa-download {
  margin-right: 1rem;
}

p {
  font-size: 1.2rem;
  line-height: 2.3rem;
  color: var(--color-p);
}

.profile p {
  font-size: 1.4rem;
  color: gray;
  line-height: 2.2rem;
}

.btn-close{
  font-size: 1.5rem;
  position: absolute;
  right: 2rem;
  top: 1rem;
  color: white;
  cursor: pointer; 
  transition: all .5s;
}

.btn-open {
  font-size: 1.2rem;
  color: rgb(242, 240, 240);
  cursor: pointer; 
  transition: all .5s;
}

.btn-close:hover,
.btn-open:hover {
  transform: scale(1.5);
}

.time-now,
.date-now {
  font-size: 1.2rem; 
  color: white;
  transition: all .5s;
}

.time-now:hover,
.date-now:hover {
  color: var(--color-gold);
}

.hero-description {
  font-family: 'Space Mono', 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.7rem;
}

.gold-cl {
  color: var(--color-gold);
}


/* LAYOUTS */

body {
  background-color: var(--color-body-bg);
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  position: relative; 
}

main {
  padding: 0 2rem 2rem 2rem; 
}

.top-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem;
  background-color: var(--color-aside-bg);
}


.overlay {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #0000008e;
  position: absolute;
}

section {
  margin-top: 2.5rem;
}

section:not(:last-child) {
  border-bottom: 1px solid rgba(211, 211, 211, 0.145);
  padding-bottom: 5rem;
}


.hero {
  background-image: linear-gradient(to right, var(--color-tp-grey), var(--color-tp-dark-grey)), url(img/background1.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  text-align: center;
  padding: 2rem;
}

/* PROJECTS */

.project-item {
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
  box-shadow: 0 1rem 1rem rgb(39, 39, 39);
  background-color: var(--color-card-bg);
  transition: all .5s;
  margin-top: 3rem;
}

.project-item:hover{
  transform: scale(1.02);
}

.project-image {
  width: 100%;
}

.project-title {
  padding: 2rem 1rem;
  text-align: center;
}

.project-link {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  transition: all 5s;
}

.project-link:hover {
  text-decoration: none;
  transition: all 5s;
}

.project-link:hover::before {
  content: '< ';
  color: var(--color-gold);
  font-weight: 700;
}

.project-link:hover:after {
  content: ' />';
  color: var(--color-gold);
  font-weight: 700;
}


@media screen and (min-width: 700px) {
  .project-coll {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .project-title {
    padding: 1.2rem .2rem;
    text-align: center;
  }
}



/* CARDS */

.card{
  background-color: var(--color-card-bg);
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgb(39, 39, 39);
  padding: 2rem;
  transition: all .5s;
}

.card:not(:last-child) {
  margin: 2rem 0;
}

.card:hover{
  transform: scale(1.02);
}


@media screen and (min-width: 700px) {
  .goals-coll {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 2rem; 
    margin: 2rem 0;
  }

  .grid-5 {
    grid-row: 3/3;
    grid-column: 1/3;
  } 

  .card:not(:last-child) {
    margin: 0rem;
  }
}


/* ADIDE CONTENT */

.hidden {
  display: none;
}

.aside-content {
  height: 100vh;
  position: fixed;
  width: 30rem;
  background-color: var(--color-aside-bg);
  overflow: auto;
  left: -30rem;
  z-index: 2;
  transition: all .6s;
}

.aside-content::-webkit-scrollbar {
  background: transparent;
  width: .3rem;
  border-radius: 3rem;
}

.aside-content::-webkit-scrollbar-thumb {
  background: var(--color-scroolbar);
  border-radius: 1rem;
}

.profile-content {
  padding: 2rem;
}

.profile-image {
  background-color: var(--color-aside-img-bg);
  padding: 5rem 0 3rem 0; 
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; 
}

.profile-img {
  width: 13rem;
  border-radius: 50rem;
  margin-bottom: 3rem;
}

.my-image {
  position: relative;
}

.online-ststus {
  background-color: rgb(12, 177, 12);
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  border-radius: 1rem;
  position: absolute;
  bottom: 4rem;
  right: 2rem;
}

.contact, .skill {
  border-bottom: 1px solid rgb(71, 71, 71);
  padding: 2rem 0;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.cv {
  margin-top: 2rem; 
}


/* SOCIAL LINKS */

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.social-links {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  display: inline-block;
  transition: all .5s;
}

.social-links:hover {
  transform: translateY(1rem);
  color: var(--color-gold);
}

.social-links:not(:last-child) {
  margin-right: 2rem;
}

.fab, .fa {
  margin-right: .5rem; 
}



@media screen and (min-width: 80rem) {

  /* TYPOGRAPHY */

  h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  
  h2 {
    font-size: 3rem;
  }
  
  h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  h4 {
    font-size: 1.5rem;
  }
  
  p {
    font-size: 1.7rem;
    line-height: 3rem;
    color: var(--color-p);
  }


  /* LAYOUT */

  .hero-description {
    font-size: 2rem;
    line-height: 3rem;
  }
  
  main {
    margin-left: 30rem;
    padding: 0 4rem 4rem 4rem; 
  }

  section {
    margin-top: 5rem;
  }

  .hero {
    min-height: 50vh;
  }

  .card{
    padding: 3rem;
  }

  .aside-content {
    left: 0rem;
  }

  .btn-close{
    display: none;
  }

  .btn-open {
    display: none;
  }

  .social-links {
    font-size: 2rem;
  }

  .time-now,
  .date-now {
    font-size: 1.5rem; 
  }
}